@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

:root {
  --color-dark: #111111;
  --color-light-dark: #2d2c25;
  --color-red: #db5461;
  --color-green: #b8d8ba;
  --color-dark-green: #136f63;
  --color-blue: #3f88c5;
  --color-dark-blue: #032b43;
  --color-light-blue: #00a7e1;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-light-dark);
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Animations
@keyframes rgb {
  100% {
    transform: rotate(360deg);
  }
}
